<launch>        
  <!-- Republish RAW images from compressed topic (use it if playing bag) -->
  <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/kinect2_head/rgb/image raw out:=/image_decompressed" required="true" />

  <node pkg="apriltags" type="apriltags" name="apriltags" output="screen">
    <param name="~default_tag_size" value="0.1675" />

    <param name="~viewer" value="true" />
    <param name="~publish_detections_image" value="false" />

    <param name="~display_type" value="CUBE" />
    <param name="~marker_thickness" value="0.02" />

    <!-- Use this topic if playing bag 
    <remap from="~image" to="/image_decompressed"/> -->
    <!-- Use this topic if running with real robot -->
    <remap from="~image" to="/kinect2_head/rgb/image"/>
     
    <remap from="~camera_info" to="/kinect2_head/rgb/camera_info"/>
    <remap from="~marker_array" to="/apriltags/marker_array"/>
    <remap from="~detections" to="/apriltags/detections"/>
  </node>
  
  <node pkg="apriltags" type="write_markers" name="write_markers" output="screen">
    <param name="~yaml_file_path" value="/home/orobot/workspace/ros/catkin/src/apriltags/include/tags/detected_tag.yaml" />
    <param name="~map_frame" value="map" />
    <param name="~camera_frame" value="kinect2_head_rgb_optical_frame" />
    <param name="~max_dist" value="1.5" /> 
    <param name="~max_obl_dist" value="0.5" /> 
    <param name="~max_id" value="10" />
  </node>
  
</launch>
